<strong>Recuperando senha</strong>

<p>Solitação de recuperação de senha foi solicidata para seu email ({{email}}). Se você não foi o autor dessa requisição,seria legal trocar sua senha :3 </p>
<p>Se foi você Copie no token {{token}} ou clique no link abaixo</p>

<a href="{{link}}">Criar nova senha</a>   